* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background: #222;
}

header {
    background: #111;
    align-self: baseline;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    align-items: center;
}

header section{
    display: flex;
}

header a {
    padding: 0 20px;
    font-family: roboto;
    font-size: .8rem;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1.1px;
}

header section a:last-child {
    padding-right: 0;
}

header h1 {
    font-family: Bebas neue;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 2.5rem;
    color: #fff;
}

header h1::after {
    content: "Rosaléa";
}

.Catalogo {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    padding: 0 10%;

    max-width: 100vw;

    text-align: center;
}

.Catalogo i {
    padding: 0 10px;
}

.Catalogo h1 {
    padding: 50px 0;
    font-family: Bebas neue;
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(255, 214, 68);
}

.Catalogo h2 {
    font-size: 1.2rem;
    color: #fff;
}

.Catalogo hr {
    width: 500px;
    border: 0.5px solid rgb(255, 214, 68);
    margin: 30px 0 80px;
}


.Produtos {

    font-family: Roboto;

    background: url(../assets/Modelo1.jpg) center no-repeat;
    background-size: cover;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    list-style: none;

    padding: 100px 150px;
}

.Produtos li {
    display: flex;
    flex-direction: column;
    background-color: #242424;
    border-radius: 4px;
    padding: 10px;
}

.Produtos li:nth-child(1):hover {
    transition: background cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
    background: url(../assets/PessoaCamisaBranca.jpg) center no-repeat;
    background-size: cover;
}

.Produtos li:nth-child(2):hover {
    transition: background cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
    background: url(../assets/PessoaCamisaAmarela.jpg) center no-repeat;
    background-size: cover;
}

.Produtos li:nth-child(3):hover {
    transition: background cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
    background: url(../assets/PessoaSapato.jpg) center no-repeat;
    background-size: cover;
}

.Produtos li:nth-child(4):hover {
    transition: background cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
    background: url(../assets/PessoCalça.jpg) center no-repeat;
    background-size: cover;
}

.Produtos li:nth-child(5):hover {
    transition: background cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
    background: url(../assets/PessoaVestido.jpg) center no-repeat;
    background-size: cover;
}

.Produtos li:nth-child(6):hover {
    transition: background cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
    background: url(../assets/PessoaSapatoPet.jpg) center no-repeat;
    background-size: cover;
}

.Produtos li:nth-child(7):hover {
    transition: background cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
    background: url(../assets/PessoaCamisaAmarela.jpg) center no-repeat;
    background-size: cover;
}

.Produtos li:nth-child(8):hover {
    transition: background cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
    background: url(../assets/PessoaSapato.jpg) center no-repeat;
    background-size: cover;
}

.Produtos li:nth-child(9):hover {
    transition: background cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
    background: url(../assets/PessoCalça.jpg) center no-repeat;
    background-size: cover;
}

.Produtos li img {
    align-self: center;
    max-width: 200px;
    margin-top: 5px;
}

.Produtos li:hover > img {
    opacity: 0;
}

.Produtos li:hover > span{
    color: #000;
}

.Produtos li:nth-child(3) img{
    max-width: 300px;
}

.Produtos li:nth-child(6) img{
    max-width: 300px;
}

.Produtos li:nth-child(8) img{
    max-width: 300px;
}

.Produtos li strong {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    margin-top: 20px;
    padding-left: 15px;
}

.Produtos li span {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 5px 0 20px;
    color: #ccc;
    padding-left: 15px;
}